@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&family=Trirong:wght@400;600;700&display=swap');

:root {

    --first-font: 'Rubik', sans-serif;
    --second-font: 'Trirong', serif;
    
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-100: .25rem;
    --fs-200: .75rem;
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.5rem;
    --fs-600: 2rem;
    --fs-700: 2.5rem;
    --fs-800: 3rem;
    --fs-900: 3.5rem;

    --space-50: 0.5rem;
    --space-100: 1rem;
    --space-200: 1.5rem;
    --space-300: 2rem;
    --space-400: 2.5rem;
    --space-500: 3rem;
    --space-500: 3.5rem;
    --space-500: 4rem;
    --space-500: 4.5rem;
    --space-500: 5rem;
    
    --hue-color: 60;
    --grey-value: 0;

    --primary-color-50: hsl(var(--hue-color), 100%, 80%);
    --primary-color-100: hsl(var(--hue-color), 100%, 72%);
    --primary-color-200: hsl(var(--hue-color), 100%, 64%);
    --primary-color-300: hsl(var(--hue-color), 100%, 56%);
    --primary-color-400: hsl(var(--hue-color), 100%, 48%);
    --primary-color-500: hsl(var(--hue-color), 100%, 40%);
    --primary-color-600: hsl(var(--hue-color), 100%, 32%);
    --primary-color-700: hsl(var(--hue-color), 99%, 32%);
    --primary-color-800: hsl(var(--hue-color), 99%, 24%);
    --primary-color-900: hsl(var(--hue-color), 99%, 16%);
    
    --grey-scale-50: hsl(var(--grey-value), 0%, 96%);
    --grey-scale-100: hsl(var(--grey-value), 0%, 72%);
    --grey-scale-200: hsl(var(--grey-value), 0%, 64%);
    --grey-scale-300: hsl(var(--grey-value), 0%, 56%);
    --grey-scale-400: hsl(var(--grey-value), 0%, 48%);
    --grey-scale-500: hsl(var(--grey-value), 0%, 40%);
    --grey-scale-600: hsl(var(--grey-value), 0%, 32%);
    --grey-scale-700: hsl(var(--grey-value), 0%, 24%);
    --grey-scale-800: hsl(var(--grey-value), 0%, 16%);
    --grey-scale-900: hsl(var(--grey-value), 0%, 8%);    

}

ul {
    display: flex;
}

button {
    color: var(--primary-color-900);
    height: 40px;
    width: 200px;
    font-size: var(--fs-xs);
    font-family: var(--first-font);
    border: none;
    border-radius: 4px;
    background-image: 
        -webkit-linear-gradient(#F7F701, #DADA08);
    cursor: pointer;
}

button:hover {
    background-image: var(--grey-scale-200);
}

h2 {
    font-size: var(--fs-400);
    font-family: var(--first-font);
    color: var(--primary-color-900);
    padding-bottom: var(--space-100);
}

.h1 {
    font-family: var(--second-font);
    color: var(--primary-color-900);
    font-size: var(--fs-700);
    padding: var(--space-500);
}

.header {
    padding: var(--fs-600);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-scale-900);
    font-family: var(--first-font);
    font-weight: var(--fw-semi-bold);
}

.header a {
    color: var(--grey-scale-50);
}

.header li > a {
    margin-left: var(--grey-scale-50);
}

.header a:hover {
    color: var(--primary-color-300);
    transition: .4s;
}

.nav-list a {
    padding: var(--space-300);
}

.menu-btn, .mobile-menu {
    display: none;
}

.main {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: var(--grey-scale-50);
    padding: 0 var(--space-500);
}

main h1 {
    font-size: var(--fs-700);
    line-height: 1;
    color: var(--primary-color-900);
    font-family: var(--second-font);
    font-weight: var(--fw-semi-bold:);
    padding-bottom: 1.5rem;
}

main p {
    color: var(--grey-scale-900);
    font-size: var(--fs-400);
    font-family: var(--first-font);
    padding-bottom: var(--space-300);
}

.about {
    height: 600px;
    background-color: white;
}

.paragraph {
    padding-bottom: var(--space-300);
}

.products {
    height: 960px;
    background: var(--grey-scale-50);
}

.product-img {
    margin-left: auto;
}

.products img {
    max-width: 280px;
    max-height: 280px;
}

.product-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: var(--space-300);
    margin: var(--space-100) var(--space-500);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.20);
}

.products p, 
.services p {
    color: var(--grey-scale-900);
    font-family: var(--first-font);
}

.products p {
    text-align: justify;
}

.services p {
    text-align: center;
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icons div {
    display: flex;
    align-items: center;
    padding-bottom: var(--space-100);
}

.icons span {
    padding-left: var(--space-100);
}

.message {
    height: 560px;
    display: grid;
    grid-template-columns: .4fr .6fr;
}

.message-bg {
    background-color: var(--primary-color-100);
}

.message img {
    max-width: 640px;
    max-height: 640px;
}

.services {
    background: var(--grey-scale-50);
    height: 600px;
}

.services h2 {
    text-align: center;
}

.services-items {
    padding: 0 var(--space-300);
    display: flex;
    text-align: center;
}

.services img {
    max-width: 240px;
}

.services h2, p {
    padding: var(--space-100);
}

footer {
    height: 320px;
    background-color: var(--grey-scale-900);
}

footer h1 {
    color: var(--grey-scale-50);
    font-family: var(--second-font);
    font-size: var(--fs-700);
    padding: var(--space-300);
}

footer ul {
    display: block;
}

footer li {
    font-family: var(--first-font);
    color: var(--grey-scale-50);
    padding: var(--space-100) var(--space-300);
}

@media (max-width:900px) {

    .header a {
        color: blue;
    }

    .main {
        display: grid;
        grid-template-columns: 1fr;
    }

    .box-1 {
        padding: var(--space-500) 0 0 0;
    }

    .products {
        height: 840px;
    }

    .product-img {
        display: none;
    }

    .product-item {
        display: block;
    }

}

@media (max-width:780px) {
    .header a {
        color: red;
    }

    .services {
        height: 440px;
    }

    .services img {
        display: none;
    }
}

@media (max-width:700px) {

    .main img {
        padding-left: 0;
    }

    .about img {
        padding-left: var(--space-500);
    }
}

@media (max-width:600px) {

    .header a {
        color: yellow;
    }

    .nav-list {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: var(--space-100);
    }

    .open {
        display: block;
    }

    .services h2 {
        word-break: break-all;
    }

}