@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&family=Trirong:wght@400;600;700&display=swap');

:root {

    --first-font: 'Rubik', sans-serif;
    --second-font: 'Trirong', serif;
    
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;

    --fs-xs: 1.25rem;
    --fs-s: 1.5rem;
    --fs-m: 2rem;
    --fs-l: 2.1875rem;
    --fs-xl: 2.5rem;
    
    --hue-color: 60;
    --grey-value: 0;

    --primary-color-50: hsl(var(--hue-color), 100%, 80%);
    --primary-color-100: hsl(var(--hue-color), 100%, 72%);
    --primary-color-200: hsl(var(--hue-color), 100%, 64%);
    --primary-color-300: hsl(var(--hue-color), 100%, 56%);
    --primary-color-400: hsl(var(--hue-color), 100%, 48%);
    --primary-color-500: hsl(var(--hue-color), 100%, 40%);
    --primary-color-600: hsl(var(--hue-color), 100%, 32%);
    --primary-color-700: hsl(var(--hue-color), 99%, 32%);
    --primary-color-800: hsl(var(--hue-color), 99%, 24%);
    --primary-color-900: hsl(var(--hue-color), 99%, 16%);
    
    --grey-scale-50: hsl(var(--grey-value), 0%, 96%);
    --grey-scale-100: hsl(var(--grey-value), 0%, 72%);
    --grey-scale-200: hsl(var(--grey-value), 0%, 64%);
    --grey-scale-300: hsl(var(--grey-value), 0%, 56%);
    --grey-scale-400: hsl(var(--grey-value), 0%, 48%);
    --grey-scale-500: hsl(var(--grey-value), 0%, 40%);
    --grey-scale-600: hsl(var(--grey-value), 0%, 32%);
    --grey-scale-700: hsl(var(--grey-value), 0%, 24%);
    --grey-scale-800: hsl(var(--grey-value), 0%, 16%);
    --grey-scale-900: hsl(var(--grey-value), 0%, 8%);    

}


* {
    text-decoration: none;
    margin: 0;
    padding: 0;    
}

.products p, 
.services p {
    color: var(--grey-scale-900);
    font-family: var(--first-font);
}

.products p {
    text-align: justify;
}

.services p {
    text-align: center;
}

.h1 {
    font-family: var(--second-font);
    color: var(--primary-color-900);
    font-size: var(--fs-xl);
    padding: 3.5rem;
}

.header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-scale-900);
    font-family: var(--first-font);
    font-weight: var(--font-semi-bold);
}

.header a {
    color: white;
}

.header li > a {
    margin-left: 2rem;
}

.header a:hover {
    color: var(--primary-color-300);
    transition: .4s;
}

ul {
    display: flex;
}

button {
    color: var(--primary-color-900);
    height: 40px;
    width: 200px;
    font-size: var(--fs-xs);
    font-family: var(--first-font);
    border: none;
    border-radius: 4px;
    background-image: 
        -webkit-linear-gradient(#F7F701, #DADA08);
    cursor: pointer;
}

button:hover {
    background-image: var(--grey-scale-200);
}

@media (max-width:600px) {
    .header a {
        color: yellow;
    }
}

.main {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: var(--grey-scale-50);
    padding: 0rem 4rem;
}

main h1 {
    font-size: var(--fs-xl);
    line-height: 1;
    color: var(--primary-color-900);
    font-family: var(--second-font);
    font-weight: var(--font-semi-bold:);
    padding-bottom: 1.5rem;
}

main p {
    color: var(--grey-scale-900);
    font-size: var(--fs-s);
    font-family: var(--first-font);
    padding-bottom: 2rem;
}

main img {
    padding-left: 10rem;
}

.about {
    height: 600px;
    background-color: white;
}

.about img {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    padding-left: 12rem;
}


h2 {
    font-size: var(--fs-m);
    font-family: var(--first-font);
    color: var(--primary-color-900);
    padding-bottom: 1rem;
}

.paragraph {
    padding-bottom: 1rem;
}

.products {
    height: 960px;
    background: var(--grey-scale-50);
}

.product-img {
    margin-left: auto;
}

.products img {
    max-width: 280px;
    max-height: 280px;
}

.product-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    margin: 1rem 5rem;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.20);
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.icons div {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.icons span {
    padding-left: 1rem;
}

.message {
    height: 560px;
    display: grid;
    grid-template-columns: .4fr .6fr;
}

.message-bg {
    background-color: var(--primary-color-100);
}

.message img {
    max-width: 640px;
    max-height: 640px;
}

.services {
    background: var(--grey-scale-50);
    height: 600px;
}

.services h2 {
    text-align: center;
}

.services-items {
    padding: 0rem 2rem;
    display: flex;
    text-align: center;
}

.services img {
    max-width: 240px;
}

.services h3, p {
    padding: 1rem;
}

footer {
    height: 280px;
    background-color: var(--grey-scale-900);
}

footer h1 {
    color: var(--grey-scale-50);
    font-family: var(--second-font);
    font-size: var(--fs-xl);
    padding: 2rem;
}

footer ul {
    display: block;
}

footer li {
    font-family: var(--first-font);
    color: var(--grey-scale-50);
    padding: 1rem 2rem;
}
